<div class="container">
<div class="row">
<div class="col s12">
<%= simple_form_for @business do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="input-field col m10">
<%= form.association :user, collection: @user, label_method: :full_name, value_method: :id%>
  <div class="input-field col m10">
   
    <%= form.input:businessName %>
   
  </div>

  <div class="input-field col m10"> 
    <%= form.input :description, as: :text, :input_html=>{class: "materialize-textarea", :cols => 5, :rows => 10} %>
  </div>

  <div class="input-field col m10">
  
    <%= form.input :location %>
  </div>

  <div class="input-field col m10">
   
    <%= form.input :owner_id %>
  </div>

  <div class="actions col m10">
    <%= form.submit  class: "wave-effect btn-flat"%>
  </div>
<% end %>
</div>
</div>
</div>