<p id="notice"><%= notice %></p>

<p>
  <strong>Businessname:</strong>
  <%= @business.businessName %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @business.location %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @business.owner_id %>
</p>


<%= link_to 'Back', businesses_path %>
