<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mentor.user_id %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @mentor.descritpion %>
</p>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
